{% extends 'base.html' %}

{% block content %}
<div class="row">
  <!-- Left Sidebar -->
   <!-- load sidebar -->
    {% include 'dashboard/sidebar.html' %}


  <!-- Rigth Sidebar content -->
   <div class="col-md-9">

     <!-- 🔹 FIXED HEADER -->
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h5 class="mb-0">Dashboard</h5>
      <small class="text-muted">
        Logged in as <span class="badge badge-secondary">{{ user.username }}</span>
      </small>
    </div>

    <!-- cards -->
    <div class="row">
      <div class="col">
        <div class="card border-default mb-3">
          <div class="card-header text-center text-uppercase font-weight-bold">All Categories</div>
          <div class="card-body text-dark">
            <h5 class="card-title text-center">{{ category_count }}</h5>
          </div>
        </div>
      </div>

        <div class="col">
        <div class="card border-default mb-3">
          <div class="card-header text-center text-uppercase font-weight-bold">All Posts</div>
          <div class="card-body text-dark">
            <h5 class="card-title text-center">{{ blogs_count }}</h5>
          </div>
        </div>
      </div>
    </div>

   </div>

</div>

{% endblock %}